@import url("https://use.typekit.net/jmk3xov.css");
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body {
  overflow-x: hidden;
}


:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    display: inline;
}

.left {
    grid-column: 6 / 12;
}



  button {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #333333;
    border-radius: 5px;
    border: 1px solid white;
  }


  /* Ajouter un petit logo d'ouverture de fichier à côté du texte du bouton */
  .my-button::before {
    content: "\f56e"; /* Utilisez l'icône fa-file-export de Font Awesome */
    font-family: "Font Awesome\ 5 Free"; /* Utilisez la police de caractères de Font Awesome */
    margin-right: 5px; /* Ajoutez un espace entre le logo et le texte */
    font-weight: 900;
  }


.textdim {

  text-shadow:     0 1px 0 rgb(21, 224, 191),
	                 0 2px 0 rgba(175, 182, 182, 0),
	                 0 3px 0 rgb(4, 4, 185),
	                 0 4px 0 rgb(13, 11, 182),
	                 0 5px 0 rgb(21, 224, 191),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
  
}
